head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='Website.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css')
  style 
    include ./wishlist.css
  title Movieflix
.navbar
  .navbar-container
    .logo-container
      h1.logo Movieflix
    .menu-container
      ul.menu-list
        a(href='/' style='text-decoration: none; color:white')
          li.menu-list-item Home
        a(href='logout' style='text-decoration: none; color:white')
          li.menu-list-item Logout
    .profile-container
      img.profile-picture(src='Profile.jpg' alt='')
      .profile-text-container
        span.profile-text
          = message
        
.container
  .content-container
    .featured-content(style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('image.jpg');")
      h1.movie-list-title My Movie List
    .movie-list-container
      if movie0
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Red Notice.jpg' alt='')
              p.movie-list-item-title Red Notice
              br
              .movie-wishlist
                a(href='removemovie0' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie1
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Finch.jpg' alt='')
              p.movie-list-item-title Finch
              br
              .movie-wishlist
                a(href='removemovie1' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie2
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Nightmare Alley.jpg' alt='')
              p.movie-list-item-title Nightmare Alley
              br
              .movie-wishlist
                a(href='removemovie2' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film            
      if movie3
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Dune.jpg' alt='')
              p.movie-list-item-title Dune
              br
              .movie-wishlist
                a(href='removemovie3' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie4
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Ghostbusters.jpg' alt='')
              p.movie-list-item-title Ghostbusters Afterlife
              br
              .movie-wishlist
                a(href='removemovie4' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie5
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='The Kings Man.jpg' alt='')
              p.movie-list-item-title The King&apos;s Man
              br
              .movie-wishlist
                a(href='removemovie5' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film  
      if movie6
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Encanto.jpg' alt='')
              p.movie-list-item-title Encanto
              br
              .movie-wishlist
                a(href='removemovie6' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie7
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Black Widow.jpg' alt='')
              p.movie-list-item-title Black Widow
              br
              .movie-wishlist
                a(href='removemovie7' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie8
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='The Tomorrow War.png' alt='')
              p.movie-list-item-title The Tomorrow War
              br
              .movie-wishlist
                a(href='removemovie8' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film  
      if movie9
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Godzilla.jpg' alt='')
              p.movie-list-item-title Godzilla vs Kong Kong
              br
              .movie-wishlist
                a(href='removemovie9' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie10
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Mortal Kombat.jpg' alt='')
              p.movie-list-item-title Mortal Kombat
              br
              .movie-wishlist
                a(href='removemovie10' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie11
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Oxygen.jpg' alt='')
              p.movie-list-item-title Oxygen
              br
              .movie-wishlist
                a(href='removemovie11' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie12
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Justice League.jpg' alt='')
              p.movie-list-item-title Justice League
              br
              .movie-wishlist
                a(href='removemovie12' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie13
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Cruella.jpg' alt='')
              p.movie-list-item-title Cruella
              br
              .movie-wishlist
                a(href='removemovie13' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie14
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Vincenzo.png' alt='')
              p.movie-list-item-title Vincenzo
              br
              .movie-wishlist
                a(href='removemovie14' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film  
      if movie15
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Squid Game.jpeg' alt='')
              p.movie-list-item-title Squid Game
              br
              .movie-wishlist
                a(href='removemovie15' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie16
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Youth of May.jpg' alt='')
              p.movie-list-item-title Youth of May
              br
              .movie-wishlist
                a(href='removemovie16' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie17
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Nevertheless.jpg' alt='')
              p.movie-list-item-title Nevertheless
              br
              .movie-wishlist
                a(href='removemovie17' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film  
      if movie18
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='My Name.jpg' alt='')
              p.movie-list-item-title My Name
              br
              .movie-wishlist
                a(href='removemovie18' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie19
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Hometown ChaChaCha.jpg' alt='')
              p.movie-list-item-title Hometown Cha-Cha-Cha
              br
              .movie-wishlist
                a(href='removemovie19' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film
      if movie20
        .movie-list-wrapper
          .movie-list
            .movie-list-item
              img.movie-list-item-img(src='Doom at Your Service.jpg' alt='')
              p.movie-list-item-title Doom at Your Service
              br
              .movie-wishlist
                a(href='removemovie20' style='text-decoration: none; color:white')
                  button.featured-button-3 Remove from playlist&nbsp; 
                    i.fas.fa-film  








































